<a href="https://colab.research.google.com/github/ManDat-msi/DataMining_ManDat1/blob/main/Mandat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pydotplus
from IPython.display import Image
from sklearn import tree

In [2]:
data = pd.read_csv('/content/googleplaystore.csv')
data.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [4]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data['App']=enc.fit_transform(data['App'].values)
data['Category']=enc.fit_transform(data['Category'].values)
data['Rating']= enc.fit_transform(data['Rating'].values)
data['Reviews']= enc.fit_transform(data['Reviews'].values)
data['Size']= enc.fit_transform(data['Size'].values)
data['Installs']= enc.fit_transform(data['Installs'].values)
data['Type']= enc.fit_transform(data['Type'].values)
data['Price']= enc.fit_transform(data['Price'].values)
data['Content Rating']= enc.fit_transform(data['Content Rating'].values)
data['Genres']= enc.fit_transform(data['Genres'].values)
data['Last Updated']= enc.fit_transform(data['Last Updated'].values)
data['Current Ver']= enc.fit_transform(data['Current Ver'].values)
data['Android Ver']= enc.fit_transform(data['Android Ver'].values)

In [5]:
data.dtypes

App               int64
Category          int64
Rating            int64
Reviews           int64
Size              int64
Installs          int64
Type              int64
Price             int64
Content Rating    int64
Genres            int64
Last Updated      int64
Current Ver       int64
Android Ver       int64
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  int64
 1   Category        10841 non-null  int64
 2   Rating          10841 non-null  int64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  int64
 5   Installs        10841 non-null  int64
 6   Type            10841 non-null  int64
 7   Price           10841 non-null  int64
 8   Content Rating  10841 non-null  int64
 9   Genres          10841 non-null  int64
 10  Last Updated    10841 non-null  int64
 11  Current Ver     10841 non-null  int64
 12  Android Ver     10841 non-null  int64
dtypes: int64(13)
memory usage: 1.1 MB

In [7]:
atr_data = data.drop(columns='Installs')
atr_data.head()

    App  Category  Rating  ...  Last Updated  Current Ver  Android Ver
0  6963         1      29  ...           561          118           15
1  2632         1      27  ...           481         1018           15
2  8657         1      35  ...           116          464           15
3  7828         1      33  ...           824         2765           18
4  7023         1      31  ...           756          277           20

[5 rows x 12 columns]

In [8]:
cls_data=data['Installs']
cls_data.head()

0     7
1    19
2    14
3    17
4    10
Name: Installs, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

In [10]:
X_train, X_test, y_train, y_test = train_test_split(atr_data, cls_data, test_size=0.2, random_state=0)
tree_data = DecisionTreeClassifier(random_state=0)
tree_data.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [11]:
y_pred = tree_data.predict(X_test)
print('Nilai Akurasi:', tree_data.score(X_test, y_test))

Nilai Akurasi: 0.3107422775472568

In [12]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[  0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0]
 [  0   1   0   0   0   1   0   0   3   0   0   0   0   0   0   0   0   1
    0   0   0]
 [  0   2  43  10   0   7  18   6  21  18   1   0  16   7   4   6   2   6
   10   0   0]
 [  0   0  13 132   1   0  24  40   3  34   9   0   7  21   0   6   5   3
   26   1   0]
 [  0   0   0   0  11   0   0   0   0   0   0   0   0   0   0   0   0   0
    0   0   0]
 [  0   8   2   1   0  23   2   0  21   2   0   6   1   0   9   0   0   7
    1   0   0]
 [  0   0  23  31   0   1  47  13   8  33   2   0  15   9   2   6   4  10
   17   0   0]
 [  0   0  10  38   3   0   9 119   1  10  11   0   3  24   0   6  10   2
    7   0   0]
 [  2   4  22   1   0   7   9   1  50   3   2   6   4   2  13   5   0  17
    3   0   0]
 [  0   0  16  32   1   0  28  24   9  41   5   0  11  12   0  15   1   8
   23   0   0]
 [  0   0   0   4   0   0   0   8   0   0  58   0   0   3   0   1   1   0
    0   0   0]
 [  0   1   1   0   0   6   0   0   6   0   0   0   0   0   0   1   0   0
    0   0   0]
 [  0   0  13  11   0   0  14   5   5  14   1   0  13   2   1  11   0   2
    2   0   0]
 [  0   0   4  26   0   0   6  19   1  13   4   0   1  56   1   2   3   0
    8   0   0]
 [  0   3   4   0   0  10   1   0  21   2   0   0   1   0   3   1   0   2
    0   0   0]
 [  0   0  12  15   0   1  17   9   3   4   4   0   5   4   0  13   1   2
    4   0   0]
 [  0   0   0   9   0   0   2   5   0   5   1   0   0   6   0   2  26   0
    0   1   0]
 [  0   1  11   4   0   5   8   2  14   5   0   1   6   1   3   2   1   9
    1   0   0]
 [  0   0   5  15   0   0  14   9   3  15   4   0   5   4   0   8   0   1
   19   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0
    0  10   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1
    0   0   0]]

In [13]:
from sklearn.metrics import classification_report
print(classification_report (y_test, y_pred))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00         1
           2       0.05      0.17      0.08         6
           3       0.24      0.24      0.24       177
           4       0.40      0.41      0.40       325
           5       0.69      1.00      0.81        11
           6       0.37      0.28      0.32        83
           7       0.24      0.21      0.22       221
           8       0.46      0.47      0.46       253
           9       0.30      0.33      0.31       151
          10       0.21      0.18      0.19       226
          11       0.57      0.77      0.66        75
          12       0.00      0.00      0.00        15
          13       0.15      0.14      0.14        94
          14       0.37      0.39      0.38       144
          15       0.08      0.06      0.07        48
          16       0.15      0.14      0.14        94
          17       0.48      0.46      0.47        57
          18       0.13      0.12      0.12        74
          19       0.16      0.19      0.17       102
          20       0.83      0.91      0.87        11
          21       0.00      0.00      0.00         1

    accuracy                           0.31      2169
   macro avg       0.28      0.31      0.29      2169
weighted avg       0.30      0.31      0.31      2169

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))